title: Turbo Octo Spork
description: Project Management Trello AOPI
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://jeremy-rich.github.io/turbo-octo-spork" # the base hostname & protocol for your site

# Build settings
markdown: kramdown
theme: minima

# Exclude these files from the build
exclude:
  - Gemfile
  - Gemfile.lock
  - README.md
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/

# Jekyll options
plugins:
  - jekyll-feed
  - jekyll-seo-tag
